$main-color: #205081;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1,h2,h3{
  font-weight: bold;
  color: $main-color;
}

h3{
  font-weight: bold;
  font-size: 20px;
}

strong{
  font-weight: bold;
}

.container{
  padding-top: 72px;
  & > img{
    margin: 20px auto;
    display:block;
  }
  @media screen and (min-width:1200px){
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 0;
  }
}

header{
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color: $main-color;
  padding: 15px;
  box-shadow: 0 0 4px rgba(0,0,0,.8);
  position: fixed;
  top:0;
  z-index: 101;
  width: 100%;
  
  img{
    width: 200px;
  }

  .menuItem{
    width: 30px;
    span{
      display:block;
      width: 100%;
      height: 2px;
      background-color: #fff;
      margin: 5px 0;
    }

    @media screen and (min-width:1200px){
      display:none;
    }
  }

  @media screen and (min-width:1200px){
    position: static;
  }
}

nav{
  position: fixed;
  width: 100%;
  background-color: #fff;
  top:0;
  transform: translateY(-100vh);
  transition: transform 500ms linear;
  z-index:100;

  ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;

    @media screen and (min-width:1200px){
      width: 100%;
      flex-direction: row;
      justify-content: flex-start;
      border-bottom: 1px solid #000;
    }
    
  }
  li{
    width: 100%;
    padding: 5px; 
    border-bottom: 1px solid #000;
    text-align: center;

    &:hover{
      cursor: pointer;
      background-color: $main-color;
      color: #fff;
    }

    @media screen and (min-width:1200px){
      width:auto;
      border-bottom:none;
      border-left:1px solid #000;
      border-top: 1px solid #000;
      padding:10px 20px;

      &:first-child{
        border-top-left-radius: 10px;
      }
      &:last-child{
        border-right: 1px solid #000;
        border-top-right-radius: 10px;
      }
    }
  }

  &.active{
   transform: translateY(72px);
  }

  @media screen and (min-width:1200px){
    position: static;
    transform: translateY(0);
    margin-bottom: 15px;
  }
}

.session-list{
  color: $main-color;
  li{
    padding: 20px;
    border-bottom: 1px solid #000;

    &:hover{
      cursor: pointer;
      background-color: #f5f5f5;
    }
  }
  p{
    padding-top: 15px;
  }

  @media screen and (min-width: 1200px){
    width:30%;
    display:inline-block;
    vertical-align: top;
  }
}

.session-description{
  position: fixed;
  top:0;
  height:100vh;
  width: 100vw;
  background: #fff;
  z-index: 102;
  overflow: auto;
  padding: 20px;
  transform: scale(0);
  opacity: 0;
  transition: transform 200ms ease-in, opacity 200ms linear;

  h2{
    font-size: 22px;
    padding-bottom: 20px;
  }

  h3{
    padding-bottom: 15px;
  }

  & > p{
    margin-top: 15px;
  }

  .speaker{
    font-size: 14px;
    padding: 0 0 5px 0;
    display: block;
  }

  .about-speakers{
    margin-top: 20px;
    p{
      margin-bottom: 15px;
    }
  }

  .close{
    text-transform: uppercase;
    display:block;
    margin-bottom: 10px;
    text-align: right;
    font-size: 20px;
    @media screen and (min-width:1200px){
      display: none;  
    }
  }
  
  &.active{
    transform: scale(1);
    opacity: 1;
  }

  @media screen and (min-width:1200px){
    position: static;
    transform: scale(1);
    opacity: 1;
    width: 50%;
    height: auto;
    display:inline-block;
    vertical-align: top;
    margin-left: 5%;
  }
}